body {
  margin: 15px;
  background-color: whitesmoke;
  color: black;
  text-align: left;
  font-size: 14;
  font-family: Arial, Helvetica, sans-serif
}


.main-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font: 1.2em sans-serif;

  display: flex;
  background-color: gray;
  flex-direction: row;
  border-radius: 4px;



}


.main-nav a {
  padding: 0.5em 1em;
  display: block;
  color: black;
  /*Remove the link line from the menu*/
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

/* Makes the links standout when moused over */
.main-nav a:hover {
  background-color: rgb(188, 188, 188);
}


.push {
  margin-left: auto;
  text-decoration: none;
}